* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.body{
    width: 80%;
    height: 100vh;
    background-color: black;
    margin: 0 auto; /* Automatically center the element horizontally */
    padding: 0; /* Optional: Adjust padding if needed */
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
}
.colu1{
    width: 65%;
    height: 100vh;
    background-color: #f7f7e9;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}
hr{
    margin: 0;
}
.colu2{
    width: 35%;
    height: 100%;
    background-color: #FCF5F3;
    overflow: hidden;
}

/* Navbar */

.Logo{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
.logoCon{
    margin-left: 1%;
    margin-right: 1%;
}
.logoCon img{
    height: 30px;
}
.title{
    font-weight: 400;
}
.menu{
    margin: 12px 0 0 25px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 80px;
}
.menu ul li{
    font-size: 18px;
    font-weight: 500;
}
.conNav{
    display: flex;
    margin: 1% 1% 0 1%;;
}

/* body */

.pimg{
    width: 100%;
    height: 400px;
    display: flex;
}
.thumbnail{
    width: 70%;
    height: 100%;
}

.otherimg{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.thumbnail img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.supimg{
    height: 28%;
    width: 70%;
    border-radius: 15px;
}
.supimg img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* Description Container */

.descon{
    height: 300px;
    width: 100%;
    padding-top: 1px;
}
.descon img{
    height: 20px;
}

.feedback{
    background-color: antiquewhite;
    padding: 20px; /* Adjust padding to balance spacing */
    margin: 0; /* Prevent unintended margins */
    box-sizing: border-box;
}

.feedback h3,
.feedback h5,
.feedback textarea,
.feedback button {
    margin: 0 !important; /* Remove default margins */
}

.stars span {
    margin-right: 5px;
    transition: color 0.2s ease;
}
.inputcom{
    width: 800px;
    height: 200px;
}

/* txtarea */

.txtarea{
    padding: 10px;
    width: 90%;
    margin-left: 3%;
    height: 180px;
}
.inputtxt {
    padding-bottom: 10px; /* Prevent margin collapsing */
}
/* column 2 */
.colu2{
    display: flex;
    justify-content: flex-end;
}

.avatar{
    height: 50px;
    border-radius: 50%;
}
.logbtn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #3d3453;
    padding: 10px;
}
.logbtn:hover{
    background-color: grey !important;
    color:  #3d3453 !important;
    cursor: pointer;
}